
header{
    /* position: fixed; */
    /* top: 0; */
    width: 100%;
    /* z-index: 1001; */
}
body{
    font-family: 'Abel', sans-serif;
}

main{
    margin: 0 auto;
    position: relative;
    /* top: 30vh; ???*/
    width: 98%;
    background-color: #ffffff;
    z-index: 1000;
}

.only-desktop{
    display: block;
}

.only-mobile{
    display: none;
}




/*====================
========Columns=======
======================*/

.desktop-four-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-four-columns .column{
    width: 22%;
}

.desktop-three-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-three-columns .column{
    width: 30%;
}

.desktop-two-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns .column{
    width: 48%;
}

.desktop-two-columns-aside{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-aside .column-aside{
    width: 30%;
}

.desktop-two-columns-aside .column-main{
    width: 68%;
}

.desktop-two-columns-inline{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-inline .column{
    width: 48%;
}

.desktop-two-columns-inline .column div{
    display: flex;
    margin-right: 1em;
}

.desktop-one-column{
    display: flex;
    width: 100%;
}

.desktop-one-column .column{
    width: 100%;
}


img {
    max-width: 100%;
}
/* ============================================= */

/* header */

header{
width: 98%;
padding: 1%;
}

.title{
    text-align: center;
    background-color:#DADEE0;
    padding: 1% 0;
}

h2{
    font-size: 2rem;
    color:#20182C;
   font-weight: lighter;
}

/* main */
.tpv{
    margin-top: 5%;
}


.ticke-table{
    margin:0.3rem 0 0.5rem 0;
}

.ticke-table span{
    margin-left: 4.5rem;
}

.aside-title{
    
    text-align: center;
    margin-bottom: 3%;
}



.aside-select{
    border: solid 1px #DADEE0;
    overflow-y: scroll;
    width: 100%;
    
}

.aside-select-content{
    display: flex;
    border: solid 1px #DADEE0;
}

.select-icon{
    width: 3rem;
    height: 2em;
    margin-right: 1em;
    text-align: center;
    margin-top: 6%;
    margin-left: 5%;
    color: #917D8C;
}

.select-img{
    width: 35%;
    text-align: center;
    margin-top: 2%;
}

.selcet-text{
    width: 87%;
    font-size: 1.2rem;
    font-weight:400;
    color:#000000;
    text-align: center;
    margin-top: 2%;

}

.selcet-text p{
    color: #6C757D;
    margin-right: 2.5rem;
    font-style: italic;
    font-size: 1rem;
}

.selcet-text-price{
    width: 87%;
    font-size: 1.2rem;
    font-weight:400;
    color:#000000;
    margin-top: 5%;
}
.selcet-text-price span{
    color: #6C757D;
    margin-left: 4.5rem;
}


.aside-prices{
    width: 100%;
    display: flex;
}

.aside-price{
    background-color:#6C757D;
    margin-left: 0.5%;
    margin-top: 5%;
    padding: 0.5% 9.5%;
}

.price-text{
    text-align: center;
}

.price-text span{
    font-size: 1rem;
    text-align: center;
    color:#ffffff;
}
.aside-iva{
    background-color:#6C757D;
    margin-left: 0.5%;
    margin-top: 5%;
    padding: 0.5% 11%;
}

.aside-total{
    background-color:#212529;
    margin-top: 5%;
    padding: 0.5% 9.5%;
}

.total-text{
    text-align: center;
    color:#ffffff;
}

.aside-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.button-delete{
    background-color:#DC3545;
    border-radius: 0.4rem;
    padding: 2.3% 15%;
}

.delete{
    font-size: 1.3rem;
    color:#ffffff;
}

.button-buy{
    background-color:#198754;
    border-radius: 0.4rem;
    padding: 2.3% 15%;
}

.buy{
    font-size: 1.3rem;
    color:#ffffff;
}

.column-main{
    text-align: center;
    width: 100%;
}

.main-title{
    text-align: center;
}

.tables{
    width: 100%;
    
}

.table{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    width: 100%;
    
}

.number{
    background-color: #198754;
    font-size: 3.5rem;
    width: 30%;
    padding: 5% 0.6%;
    margin: 1%;
    color: hsla(180, 100%, 97%, 0.623);
    -webkit-box-shadow: inset 0px 0px 16px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 16px -2px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 16px -2px rgba(0, 0, 0, 0.75);
    
}

.number:first-child{
    background-color: #DC3545;
}

.number:nth-child(2){
    background-color: #0D6DFB;
}

/* ====================tapas======================== */

.taps{
    display: flex;
    margin: 1% 0  1.9%;
}
.image-tap{
    width: 1.3rem;
    color: #ffffff;
}
.tap{
    display: flex;
    background-color: #BBBBBB;
    padding: 1% 1%;
    margin-left: 1%;
}

.tap-text span{
    font-size: 1.2rem;
    color: #ffffff;
}

.content{
display: flex;
    
}

.tapas{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    width: 100%;
}

.tapa{
    width: 30%;
    margin:1% 1%;
    
}

.tapa img{
    object-fit: cover;
    height: 10rem;
}

.image-tex span{
    font-size: 1.5rem;
    color:#20182C;
}

img{
   
    width: 100%;
   
    box-shadow: #d6d8da 0.3rem 0.3rem 0.3rem;
    border: 0.1rem solid #cecfcf;
}

/* =============VENTAS============== */

.aside-date{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.aside-date span{
    color: #6C757D;
}

.aside-filter-table{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.aside-filter-table span{
    color: #6C757D;
}



.aside-date-input input{
    border: none;
    border: solid 0.1rem #cecfcf;
    border-radius: 0.2rem;
    padding: 0% 1%;
}



.aside-table-input{
    width: 34%;
}

.aside-table-input input{
    width: 100%;
    border: none;
    border: solid 0.1rem #cecfcf;
    border-radius: 0.2rem;
    width: 100%;
}



.aside-button-filter{
    width: 100%;
    text-align: center;
}
.aside-button-filter button{
    background-color: #0D6EFD;
    border: none;
    border-radius: 0.2rem;
    color:#ffffff;
    margin-top: 5%;
    width: 100%;
    font-size: 1.3rem;
    padding: 1.5%;
}

.scroll{
    overflow-y: scroll;
    margin-top: 5%;
    border: solid 0.1rem #cecfcf;
}

.sale{
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 0% 2.5%;   
}



.ticket-text span{
    font-size: 1.1rem;
    color: #6C757D;
}

.ticket-total{
    margin-top: 2%;
    margin-left: 3%;
}


.ticket-total span{
    font-size: 1rem;
    color: #6C757D;
}

.incomes{
    display: flex;
    justify-content:space-around;
    margin-top: 5%;
   
}

.income-totals{
    background-color: #6C757D;
    padding: 1.5% 11%;
}

.income-average{
    background-color: #6C757D;
    padding: 1.5% 11%;
    
}

.income-quantity, .income-title{
    text-align: center;
}

.income-title span{
    font-size: 1.2rem;
    color: #ffffff;
}

.income-quantity span{
    font-size: 0.9rem;
    color: #ffffff;
}

.sales-date{
    border: solid 0.1rem #cecfcf;
    border-radius:  0.2rem 0.2rem 0 0 ;
}

.sale-date-icon{
    background-color: #F7F7F7;
    display: flex;
    justify-content:end;
    border-bottom: solid 0.1rem #cecfcf;
}

.sale-date-icon svg{
    width: 2rem;
    height: 3rem;
    margin-right: 2%;
}

.sale-date-title{
    margin-top: 2%;
    margin-bottom: 1%;
}

.sale-date-title span{
    font-size: 1.3rem;
    color: #6C757D;
}

.sale-date-texts{
    text-align: left;
    margin-left:2%;
    margin-bottom: 3%;
}

.black{
    color: #000000;
    font-weight: bolder;
}

.table-products {
    margin-top: 2%;

}

table{
    width: 100%;
    
}

.table-products tr:first-child{
    border-bottom:solid #000000;
    text-align: center;
}


.table-products td{
 width: 29%;
 padding-top: 1rem;
 border-bottom:solid #E2E5E9 1px;
}

.img-table{
    width: 20%;
    margin-left: 35%;
}

/* ==========cuestion panel============= */
.display{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color:#0006;
    top: 0%;
    left: 0%;
}

.cuestion-panel{
    background-color:#FFFFFF;
    width: 35%;
    height: 24%;
    border: solid 0.1rem #000000;
    border-radius: 0.2rem;
    position: absolute;
    left: 35%;
    top: 30%;
}

.cuestion-header{
    display: flex;
    justify-content: space-between;
    padding: 3% 3%;
}

.cuestion-title h2{
    font-size: 1.5rem;
    color: #000000;
}

.cuestion-text{
    padding: 6% 5%;
    border-bottom: #cecfcf solid 0.1rem;;
    border-top: #cecfcf solid 0.1rem;;; 
}

.cuestion-text span{
    font-size: 0.9rem;

}

.cuestion-close svg{
    width: 1.5rem;
    color: #949494;
}

.cuestion-text{
    text-align: center;
}

.cuestion-buttons{
    display: flex;
    justify-content:end;
    margin-right: 5%;
    padding-top: 5%;
}

.close-button button{
    border: none;
    background-color: #F8F9FA;
    color: #4D4D4E;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    padding: 11% 8%;
}

.delete-button {
    margin-left: 3%;
}

.delete-button button{
    border: none;
    background-color: #198754;
    color: #ffffff;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    padding: 8% 8%;
}

.display.active{
    display: block;
}

/* ============metode pago=================== */

.display-payment{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color:#0006;
    top: 0%;
    left: 0%;
}

.payment{
    background-color:#FFFFFF;
    width: 35%;
    height: 28%;
    border: solid 0.1rem #000000;
    border-radius: 0.2rem;
    position: absolute;
    left: 35%;
    top: 30%;
}

.display-payment-button{
    text-align: center;
    border-bottom: #949494 solid 0.1rem;
    border-top: #949494 solid 0.1rem;
}

.button-payment{
    padding: 2% 0%;
}

.display-payment-button button{
    border: none;
    background-color: #0D6EFD;
    color: #ffffff;
    border-radius: 0.2rem;
    width: 45%;
    padding: 1.5%;
    font-size: 1rem;
}

.close-button-payment{
display: flex;
justify-content: end;
}

.close-button-payment button{
margin-right: 5%;
margin-top: 3%;
color: #6C6C6D;
border: none;
font-size: 1.2rem;
}


.display-payment.active{
    display: block;
}


/* ==============ADMIN======================== */

.header-admin{
    display: flex;   
}

.hamburger svg{
    width: 1.5rem;
    text-align: center;
}

.hamburger{
    margin-right: 2%;
}

.hamburger button{
    background-color: #F8F9FA;
    border:solid 0.1rem #E5E8EC;
    border-radius: .2rem;
}

.title-admin{
    width: 100%;
    background-color: #DADEE0;
    text-align: center;
}


.add-iva{
    display: flex;
    justify-content:end;
}

.add-iva button{
    background-color: #0D6EFD;
    color: #ffffff;
    border: none;
    border-radius: 0.2rem;
    font-size: 1.3rem;
    margin-bottom: 1%;
    margin-top: 5%;
    padding: 0.7% 1%;
}

tr{
    text-align: center;
    border: #949494 solid 0.1px;
}

th{
    background-color: #C9E7FF ;
    font-size: 1.5rem;
    padding: 1% 0%;
    border-bottom: #000000 solid 0.1rem;
}

td{
    border: #949494 solid 0.1px;
}

.buttons-admin{
    display:flex;
    margin-left: 45%;
    margin-top: 2%;
}

.edit-button{
    cursor: pointer;
}


.trash-button{
    margin-left: 5%;
    cursor: pointer;
}


.edit-button svg{
    width: 1.5rem;
    background-color: #198754;
    color: #ffffff;
    border-radius: 0.3rem;
    padding: 20%;
}

.trash-button svg{
    width: 1.5rem;
    background-color:#DC3545;
    color: #ffffff;
    border-radius: 0.3rem;
    padding: 20%;
}

.buttons-pages{
    display: flex;
    width: 100%; 
    
    margin-left: 48%;
}

.page-icon button{
    color: #B8BCFE;
    border: none;
    font-size: 1.3rem;
    border: solid 0.1px #949494;
    cursor: pointer;
}

.page button{
    color: #B8BCFE;
    border: none;
    font-size: 1.3rem;
    border: solid 0.1px #949494;
    cursor: pointer;
}

.display-iva{
    display: none;
    position: fixed;
    background-color: #0004;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%; 

}

.display-iva.active{
    display: block;
}

.display-iva-add{
    display: none;
    position: fixed;
    background-color: #0004;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%; 

}

.display-iva-add.active{
    display: block;
}

.display-iva-edit{
    display: none;
    position: fixed;
    background-color: #0004;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%; 

}

.display-iva-edit.active{
    display: block;
}

.display-iva-delete{
    display: none;
    position: fixed;
    background-color: #0004;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%; 

}

.display-iva-delete.active{
    display: block;
}




.iva{
    width: 30%;
    background-color: #ffffff;
    margin-left: 35%;
    margin-top: 20%;
    border-radius: 0.3rem;
}

.iva-header{
    display: flex;
    justify-content: space-between;
    padding: 4% 3%;
    border-bottom: #dbced8 solid 0.1rem;
}

.iva-title{
}

.iva-title h2{
    font-size: 1.2rem;
    color: #626468;
}

.close-iva svg{
    width: 1.5rem;
    color: #8F8F8F;
}

.iva-element{
    margin-left: 3%;
    margin-top: 3%;
}

.element-title{
    margin-bottom: 2%;
}

.element-iva input{
    width: 95%;
    padding: 1.5% 0%;
    border: #EEF0F2 solid 0.1rem;
    border-radius: 0.2rem;
}

.element-iva select{
    width: 95%;
    padding: 1% 0%;
    border: #EEF0F2 solid 0.1rem;
    border-radius: 0.2rem;
}

.buttons-iva{
    display: flex;
    justify-content:end;
    margin:3% 5%;
    padding-bottom: 5%;
}

.button-iva-close button{
    background-color: #636D76;
    border: none;
    border-radius: 0.2rem;
    color: #ffffff;
    padding: 14%;

}


.button-iva-confirmation{
    margin-left: 8%;
    margin-right: 3%;

}

.button-iva-confirmation button{
    background-color: #0D6DFB;
    color:#ffffff;
    border: none;
    border-radius: 0.2rem;
    padding:9%;

}

.text-iva{
    padding: 0% 5%;
    text-align: center;
    border-bottom: #dbced8 solid 0.1rem;
}

.text-iva span{
    font-size: 0.8rem;
    color: #626468;    
}
